.page-numbers .page-numbers:hover, .page-numbers:active, .page-numbers:visited, .page-numbers:focus{
		text-decoration: none;
}

.page-numbers:active {
	color: black;
}

.availability.not-in-stock {
    padding: 3px 0px;
    position: absolute;
    top: 18px;
    right: 0px;
}

.availability.not-in-stock span {
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    display: block;
    background: #be1414;
    text-transform: uppercase;
    padding: 3px 8px;
    font-weight: bold;
    border-radius: 3px;
}

.availability.not-in-stock span:before {
    content: "\e082";
    font-family: 'Simple-Line-Icons';
    display: inline-block;
    margin-right: 5px;
    font-size: 11px;
    vertical-align: middle;
}

.product_type_simple {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0px !important;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: transparent !important;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.link-wishlist {
    color: #999;
    line-height: normal;
    font-weight: normal;
    vertical-align: top;
    display: block;
    height: 40px;
    color: #999;
    line-height: 36px;
    vertical-align: top;
    text-align: center;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    text-decoration: none !important;
}

.link-wishlist-done {
    background: #f28083;
    color: #fff !important;
}

.compare-button > .compare::before {
    color: #999;
    margin: 0px !important;
    padding-top: 7px !important;
    padding-left: 12px !important;
}

.compare:hover::before {
    color: #fff !important;
}

.product-view .product-shop ul.add-to-links a {
    width: 45px;
    height: 40px;
    border: 1px solid #eee;
}

.added::before {
    color: #fff !important;
}

li > .added {
    background: #f28083;
    text-decoration: none !important;
}

.commentlist li .comment-meta {
    background: transparent;
}

.comment-form input {
    font-family: "Raleway", sans-serif;
    background: #fff;
    padding: 10px 12px;
    text-transform: uppercase;
    color: #222;
    border: 1px #ddd solid;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    margin-top: 15px;
}

.comment-form input:hover {
    background: #008c45;
    color: #fff;
} 

.item:hover > .item-inner > .item-info > .info-inner > .item-content > .action > .link-cart > a > span {
    color: #fff;
}

.cat-c {
    color: black;
    text-decoration: none;
    cursor: default;
}

.yith-wcqv-button {
    height: 34px;
    display: block;
    font-size: 0;
    color: #008c45;
    line-height: 36px;
    text-align: left;
    padding: 0;
    text-transform: uppercase;
    border: none !important;
    margin: 0;
    background: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 999px;
}

.yith-wcqv-button:hover {
    padding-right: 0px;
    margin: 0 0px 0 0px;
    font-size: 11px !important;
    background: #008c45;
    color: #fff;
}

.yith-wcqv-button:after{
    content: "\f00e" !important;
    font-size: 15px !important;
    font-weight: normal;
}

.link-wishlist-done:after {
    background: #008c45 !important;
}

.clear-add {
    background: transparent !important;
}

td > .add_to_cart_inline > .btn-cart {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    color: #666;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    padding: 8px 12px;
    text-transform: uppercase;
    border-radius: 3px;
}

td > .add_to_cart_inline > .added > button{
    background: none repeat scroll 0 0 #008c45;
    border: 1px solid #e5e5e5;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    padding: 8px 12px;
    text-transform: uppercase;
    border-radius: 3px;
}

td > .add_to_cart_inline > .added:after {
    content: '' !important;
    margin-left: 0px !important;
}

td > .add_to_cart_inline > .btn-cart:hover {
    background: #008c45;
    border: 1px solid #008c45;
    color: #fff;
    padding: 8px 12px;
}

.wishlist-custom-image {
    max-width: 90px !important;
}


.wishlist-title > h2 {
    font-family: 'Roboto', sans-serif;
}

.custom-right {
    display: flex;
}

.custom-right > .add_to_cart_inline {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: auto;
}

.remove_from_wishlist {
    margin-right: 0px;
    margin-left: 0px;
}

.custom-clear {
    margin-right: 0px;
    margin-left: auto;
}

#btn-continue {
    background-color: transparent;
    border: 1px solid #eee;
}

#btn-continue:hover {
    background-color: #008c45;
    color: white;
    border: 1px solid #008c45;
}

.action .product button {
    background-color: transparent;
    border: 1px solid #008c45;
}

.action .product button a{
    color: #008c45 !important;
}

.action .product button:hover a{
    color: #fff !important;
}

h4.panel-title a.accordion-toggle {
    color: black;
    font-weight: 600;
}

.quantity input{
    float: left;
}

.input-group-btn .custom-update {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #e5e5e5 !important;
    color: #666 !important;
    display: inline-block !important;
    font-size: 11px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: normal !important;
    padding: 8px 12px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    margin: 0px 2px !important;
    height: 32px;
}

.input-group-btn .custom-update:hover {
    cursor: pointer !important;
    background-color: #008c45 !important;
    color: white !important;
}


.coupon-apply {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #e5e5e5 !important;
    color: #666 !important;
    display: inline-block !important;
    font-size: 11px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: normal !important;
    padding: 8px 12px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    margin: 0px 2px !important;
    height: 32px;
}

.coupon-apply:hover {
    background-color: #008c45 !important;
    color: white !important;
}

.custom-h2 {
    font-weight: 600;
    text-transform: uppercase;
}

a {
    text-decoration: none !important;
}

input#coupon_code {
    width: 66% !important;
    margin: 0px !important;
    height: 30px;
}

button.button.btn-proceed-checkout:hover {
    color: #fff !important;
}

.custom-login-label {
    width: 100%;
}

.input-text-custom {
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button-login-custom {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #e5e5e5 !important;
    color: #666 !important;
    display: inline-block !important;
    font-size: 11px !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    line-height: normal !important;
    padding: 8px 12px !important;
    text-transform: uppercase !important;
    border-radius: 0px !important;
    margin: 0px 2px !important;
    height: 32px;
}

.button-login-custom:hover {
    background-color: #008c45 !important;
    color: white !important;
    border-radius: 3px !important;
}