/*
Theme Name: Urich
Theme URI: https://urich.org/
Author: Urich
Author URI: https://urich.org/
Description: Official Wordpress Theme for FoodPort.ch
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: efortis.net - We Provide Awesome Digital Solutions With a Great Attention to Details. We Are Specialized in Web Applications Development and Other Digital Products.
Text Domain: urich
*/
/* TABLE OF CONTENTS

1.      BODY
2.      LAYOUT
2a.     Base Columns
2b.     1 Column Layout
2c.     2 Column Layout
2d.     3 Column Layout

*/

.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

/* BEGIN OF STYLING */

/* Nav */
.multilevelpushmenu_wrapper li a.active{
	background-color: rgba(46, 97, 150, 0.18);
}
.multilevelpushmenu_wrapper li a{
	font-weight: bold;
    font-size: 14px;
}
.multilevelpushmenu_wrapper{position:absolute;overflow:hidden;min-width:100%;min-height:100%;margin:0;padding:0}.multilevelpushmenu_wrapper .levelHolderClass{min-width:100%;position:absolute;overflow:hidden;top:0;background:##fff;width:auto;min-height:100%;font-family:'Open Sans',sans-serif;font-size:1em;zoom:1}.multilevelpushmenu_wrapper .ltr{margin-left:-100%;left:0;}.multilevelpushmenu_wrapper .rtl{margin-right:-100%;right:0;}.multilevelpushmenu_wrapper .multilevelpushmenu_inactive{background:##fff}.multilevelpushmenu_wrapper h2{font-size:1.5em;line-height:1em;font-weight:700;color:#1f4164;padding:0 .4em}.multilevelpushmenu_wrapper ul{list-style:none;padding:0;margin:0;background: #fff;}.multilevelpushmenu_wrapper li{cursor:pointer;border-top:1px solid #295685;}.multilevelpushmenu_wrapper li a{line-height: 30px;padding: 3px 10px;}.multilevelpushmenu_wrapper li:last-child{border-bottom:1px solid #295685}.multilevelpushmenu_wrapper li:hover{background-color:#295685}.multilevelpushmenu_wrapper a{display:block;outline:0;overflow:hidden;font-size:1.5em;line-height:1em;padding:.2em;text-decoration:none;color:#fff}.multilevelpushmenu_wrapper a:hover{color:#ffe}.multilevelpushmenu_wrapper .backItemClass a{color: #fff;}.multilevelpushmenu_wrapper .backItemClass{padding: 0;display:block;background:#2e6196;border-top:1px solid #295685}.multilevelpushmenu_wrapper .floatRight{float:right; line-height: 30px;}.multilevelpushmenu_wrapper .floatLeft{float:left}.multilevelpushmenu_wrapper .cursorPointer{cursor:pointer}.multilevelpushmenu_wrapper .iconSpacing_ltr{padding:0 .4em 0 0; line-height: 30px;}.multilevelpushmenu_wrapper .iconSpacing_rtl{padding:0 0 0 .4em; line-height: 30px;}
.multilevelpushmenu_wrapper .ltr, #menu, #menu nav{
	min-width:0 !important;
	max-width: 100% !important;
	width: 100% !important;
}
#menu nav{
	border-right: 1px solid #eee;
}
/* 1. BODY */
body {
	color: #333;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: auto;
	line-height: 1.55;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover, a:focus {
	color: #da2c2a;
	text-decoration: underline;
}
legend {
	display: none;
}
/* 2.  LAYOUT */


/* 2a. Base Columns */
.col-left {
	margin-bottom: 0px;
}
.col-main {
}
.col-right {
	margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
	margin: 20px;
	padding: 0;
}
.col1-layout .col-main {
	float: none;
	width: auto;
}
/* 2c. 2 Column Layoutt */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
	margin-right: 15px;
}
/* 2d. 3 Column Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
	float: left;
	width: 780px;
}
.col3-layout .col-wrapper .col-main {
	float: right;
}
.main-container {
	min-height: 400px;
	padding: 20px 0 0px;
}
#bag-seller-slider .addcart span {
	display: none;
}
#recommend-slider .addcart span {
	display: none;
}

.product-essential .variations_form .variations {
	margin-bottom: 10px;
}
.product-shop .variations_form .label label, .product-shop .variations_form .add-to-box .single_variation_wrap label {
	display: block;
	float: left;
	margin-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	margin-right: 8px;
	color: #333;
	font-size: 12px !important;
	font-weight: bold;
	line-height: 38px;
}
#mega-menu-wrap-secondary #mega-menu-secondary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a {
	text-align: left !important;
}
#mega-menu-wrap-secondary #mega-menu-secondary > li.mega-menu-item > a {
	text-transform: none !important;
}
.mega-menu-item ul.product_list_widget li img {
	width: 80px !important;
	box-shadow: none !important;
	margin: 0 15px 0 0 !important;
	float: left !important;
}
.mc4wp-form input[type=submit] {
	padding: 8px 20px !important;
	top: -41px !important;
	line-height: inherit;
}
.mini-cart ul#cart-sidebar li {
	list-style: none;
}
.mini-products-list .detail-item .product-details-bottom .price {
	display: inline-block !important;
}
.shop-icon{
	display: block;
    width: 75px;
    height: 75px;
    background: url(https://foodport.ch/wp-content/uploads/2016/10/shop-75.png) no-repeat center center;
    border: 1px solid #fff;
    border-top: none;
	text-indent: 999px;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	overflow: hidden;
}
.shop-icon:hover{
	background: url(https://foodport.ch/wp-content/uploads/2016/10/shop-75.png) no-repeat center center #008c45;
	border: 1px solid #008c45;
    border-top: none;
}
.logo img{
	width: 172px;
	height: auto;
}
body .div.woof_info_popup{
	background: url('images/loading.gif') no-repeat center center #fff !important;
}
body .woocommerce-pagination.pager.pages{
	margin: 40px 0 0;
    width: 100%;
    text-align: center;
}
body .woof_products_top_panel{
	border-bottom: 1px solid #eaeaea;
    padding-bottom: 25px;
    margin-bottom: 10px;
}
body .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{
	margin-top: 5px;
}
.woof_container_inner_origin{
	display: none;
}
/* Custom */
@media (min-width:321px) and (max-width:767px){.content-5 .col-sm-7,.content-5 .col-sm-5{width:100%;float:left}}.image-block-v1{margin-bottom:30px;vertical-align:middle;position:relative;overflow:hidden;transition:all .5s ease-in-out}.image-block-v1:hover img{-webkit-transform:scale(1.1)rotate(1deg);transform:scale(1.1)rotate(1deg);transition:all .5s ease-in-out}.image-block-v1 img{opacity: 0.8;width:100%;transition:all .5s ease-in-out}.image-block-v1 .block-meta-v1{position:absolute;width:100%;left:0;bottom:50%;text-align:center}.image-block-v1 h4{color:#fff;font-size:24px}.image-block-v1 .btn{margin-top:20px}.image-block-v1.big h4{font-size:28px}@media (min-width:992px){.image-block-v1 h4{font-size:40px}.image-block-v1.big h4{font-size:50px}}@media (min-width:1200px){.image-block-v1 h4{font-size:50px}.image-block-v1.big h4{font-size:40px}}.content-5.color-options-1{background:#008c45; padding:50px;}.content-5.color-options-1 .heading h2,.content-5.color-options-1 .heading p{color:#fff}
.content-newsletter{background-attachment:fixed;#ffffff;padding: 60px 0;    margin-bottom: 40px;}.content-newsletter h2{color:#fff}.content-newsletter p{color:#cecece}.content-newsletter .newsletter-form{position:relative;text-align:center}.content-newsletter .form-control{outline:none;color:#fff;box-shadow:none;min-height:45px}.content-newsletter .btn{margin-top:20px}.content-newsletter img{margin-bottom:20px}@media (min-width:480px){.content-newsletter .newsletter-form{padding-right:150px;display:block;overflow:hidden;margin:0 auto;max-width:90%}.content-newsletter .btn{position:absolute;right:0;top:0;margin-top:0;min-height:45px}}@media (min-width:992px){.content-newsletter .newsletter-form{max-width:800px}}@media (min-width:1200px){.content-newsletter .has-image-wrap{position:relative}.content-newsletter .has-image-wrap img{position:absolute;left:0;top:-50px}.content-newsletter .has-image-wrap .newsletter-form{padding-left:0px}}.content-newsletter.color-options-1 .btn{background:#e0e0e0}.content-newsletter.color-options-1 .btn:hover{background:#5c5c5c;color:#fff}.content-newsletter.color-options-1 .form-control{border:1px solid #8b8682;background:rgba(139,134,130,.7)}.content-newsletter.color-options-2{background:#fff}.content-newsletter.color-options-2 h2{color:#5c5c5c}.content-newsletter.color-options-2 p{color:#9c9c9c}.content-newsletter.color-options-2 .form-control{color:#222}
.content-5 .btn.btn-primary{color: #fff;background-color: #be0b06;border-color: #be0b06; border: 1px solid #be0b06;} .content-5 .col-xs-12.text-center{margin-top:40px;}
.content-7 { min-height: 535px; padding-top: 50px; background: url("images/content-7-bg.jpg") center bottom no-repeat #f1f1f1; min-height: 850px; }
.content-8 .col-sm-3{overflow: hidden;text-align: center;}
.content-8 { background: #ffffff; padding:50px;}
.content-8 .image-banner-1 { float: left; position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; text-align: center;}
.content-8 .image-banner-1 img { width: 100%; height: auto; }
#thm-mart-slideshow:before{ display: none !important; }
.content-8 .image-banner-1 a{
	opacity: 0;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.logo {	background: #008c45 !important; border-bottom: none !important;}
.top-cate .new_title .title-img{ background:#008c45 !important;}
.toolbar a.button-active.button-grid {background-color: #008c45 !important; border: 1px #008c45 solid !important;}
.toolbar a.button-active.button-list {background-color: #008c45 !important; border: 1px #008c45 solid !important;}
.product-view .flexslider-thumb .flex-prev:hover {box-shadow: inset 0 -40px 0 0 #008c45 !important;}
.product-view .flexslider-thumb .flex-next:hover {box-shadow: inset 0 -40px 0 0 #008c45 !important;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background: #008c45!Important;}
.logo-brand .new_title h2 {background:#008c45 !important;}
.mc4wp-form input {background: none repeat scroll 0 0 #008c45 !important;}
footer .co-info {background: #008c45 !important;}
footer a:hover {color: #008c45 !important;}
.social a {color: #008c45 !important;}
.btn-cart:before {background: #008c45 !important;}
.header-banner .assetBlock span {color: #008c45 !important;}
.click-nav {background: #008c45 !important;}
.block .block-title {background: #008c45 !important;}
.pager li > span.current, .pager li > span.hover, .pager li > span.focus, .pager li > a:hover, .pager li > a.focus {background-color: #008c45 !important; border-color: #008c45 !important;}
.pager li > span.current, .pager li > span.hover, .pager li > span.focus, .pager li > a:hover, .pager li > a.focus {background-color: #008c45 !important; border-color: #008c45 !important;}
.testimonials-section {background:#008c45 !important;}
.best-pro .new_title h2 {background: #008c45 !important;}
.testimonial-pic{max-width:300px;border-radius:50%;border:4px solid #fff;}

.testionials {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.text-center{margin-bottom:70px;}
.block-meta-v1 h4{border: 5px solid #fff;}
.footer-bottom, footer .footer-inner{ background: none !important; }
footer .coppyright{ float: none; margin-bottom: 0; }
footer .widget ul li a{ padding: 0; }
.widget.widget_recent_entries li{ padding: 5px 0 !important; }
footer .widget.widget_recent_entries ul{ margin-top: 10px; }
.footer-inner .widget.widget_text .secure-payment a:before{ display: none; }
.secure-payment{ color: #ccc; }
.secure-payment img{ background-color: #fff; border-radius: 3px; border: 1px solid #ccc; }
.image-block-v1.big h4{ margin: -37px 50px; padding: 10px 0; }
.image-block-v1 h4{ margin: 0 30px; padding: 5px 0; }
.header-banner, .top-cart-contain{ display: none; }
.logo{ position: relative; z-index: 21; padding-top: 24px;}
body footer .newsletter-row{ background: none; padding: 25px 0; }
body .avatar img{ float: none; }
body .testimonials{text-align: center;font-size: 18px;padding: 35px 0; }
body .testimonials-section{ min-height: 240px; }

#slider{
	width:100%;
}
#toTop{
	display: none !important;
}
.slick-next, .slick-prev{
	z-index: 10;	
	width: 44px;
    height: 44px;
}
.slick-slide{
	width: 100%;
	min-height: 400px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slick-next:before, .slick-prev:before{
	font-size: 44px;
}
.slick-next{
	right: 25px;
}
.slick-prev{
	left: 25px;
}
#slider .slick-slide .buy-btn{
	margin-top: 50px;
    display: inline-block;
}
#slider .slick-slide{
	display: table;
}
.div-middle{
	vertical-align: middle;
    display: table-cell;
    padding: 80px 0;
    position: absolute;
    top: 20%;
	height: 100%;
	width: 100%;
}
.preload{
	overflow: hidden;
}
.preload .preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 1000001;
	background: url('images/loading.gif') no-repeat center center #fff;
}
footer{
	margin-top: 40px;
}
body.woocommerce .main-container{
	padding-top: 0;
}
body.woocommerce .main.container{
	padding-top: 0 13px 0 14px;
	width: 100%;
	max-width: 1920px;
}
body.woocommerce .main.container > .row > div, body.woocommerce .main.container > .row > aside{
	margin-top: 0;
	padding: 0;
	overflow: hidden;
}
body.woocommerce .main.container .sidebar .block{
	margin: 0;
	border-bottom: none;
	border-top: none;
}
body.woocommerce .main.container .sidebar .block .block-title:after{
	display: none;
}
body.woocommerce .main.container .sidebar .block .block-title{
	width: 100%;
	margin: 0;
	text-align: center;
}
body.woocommerce .quick-tags{
	background: #ececec;
}
body.woocommerce .quick-tags a{
	display: block;
	text-align: center;
	padding: 11px 0;
	font-size: 16px;
    font-weight: bold;
	font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
	width: 20%;
	background-color: #ececec;
	float: left;
	color: #333;
}
body.woocommerce .quick-tags a.active{
	background-color: #fff;
}
body.woocommerce .quick-tags a:focus, body.woocommerce .main.container .quick-tags a:active{
	color: #333;
}
body.woocommerce .quick-tags a:hover{
	background-color: #f3f3f3;
}
body.woocommerce .toolbar{
	border-bottom: 1px solid #ececec;
	padding-top: 0;
}
body.woocommerce .pro-coloumn{
	border: none;
}
body.woocommerce .main.container .toolbar .sorter{
	display: none;
}
body.woocommerce .main.container .sidebar.col-left .block{
	border-left: none;
}
body.woocommerce .main.container .sidebar.col-right .block{
	border-right: none;
}
body .category-products{
	width: 100%;
}
.clear{width:100%;height:1px;clear:both;margin-top:-1px;}
body .products-grid .link-wishlist:before {
    content: "\f005";
}
.cut-down::before{
	content: "";
    position: absolute;
    z-index: 100;
    background-color: #f5f5f5;
    padding: 0 2000px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    width: 100%;
    height: 200px;
    display: inline-block;
    bottom: -60px;
    left: -2000px;
}
.products-grid .item .item-inner{
	padding-bottom: 10px;
}
.woof_childs_list_opener{
	float: right;
}
.woof_container_inner_productcategories{
	padding: 0 20px;
}
.woof_submit_search_form_container{
	text-align: center;
    padding: 20px;
    box-sizing: border-box;
	display: none !important;
}
.woof_submit_search_form_container button{
    width: 100%;
}
.woof_container_inner_productcategories .woof label{
	max-width: 70%;
	max-width: calc(100% - 25px);
	margin: 0;
}
.woof_container_inner_productcategories .woof_list label{
	margin: 0;
	max-width: 70%;
	max-width: calc(100% - 25px);
}
.woof_container_inner_productcategories .woof_checkbox_term{
	display: none;
}
body .btn-cart span .hide-small{ margin: 0 2px; }
#mobile-minicart{ display: none; }
.no-title h2{ display: none; }
.multilevelpushmenu_wrapper li a .floatRight{background-size: 100% auto;}
@media screen and (max-width: 767px) {
    body .logo{ padding: 0; }
    body .logo img{ max-height: 60px; width: auto; padding: 10px; }
	body .header-container .top-menu { margin-top: 0; top: -67px; z-index: 100; background: transparent; left: 12px; }
	body #header .mobile-toggle, body #header .mobile-toggle:focus, body #header .mobile-toggle:active{ color: #fff; border: 1px solid #fff;    width: 41px;    height: 41px;    border-radius: 6px;}
	body .header-container .header-right-col{ z-index: 100; right: 0; top: 0; }
	.main-nav a.jPushMenuBtn{ display: none; }
	body .absolute-bottom{ position: fixed !important; left: 0; bottom: 0; z-index: 100000 !Important; display: block !important; }
	#mobile-minicart{display: block; position: fixed; width: 100%; bottom: 0; background: #dedede; z-index: 100;}
	#mobile-minicart a{width:50%; float: left;}
	#mobile-minicart p{margin: 0;}
}
@media screen and (max-width: 560px) {
	.logo.nulled a{ padding: 0 5px !important; }
}
.woocommerce .header-container{
	background: #008c45;
}

.social-icons{
	padding: 13px 20px;
}
.social-icons .btn-circle {
  padding: 0px;
  font-size: 12px;
  border-radius: 50% !important;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #333;
  background: #fff;
}
.social-icons .btn-circle:hover{
	border: none;
	padding: 0;
}
.search-filter .input-group{
	max-width: 180px;
	padding: 15px 0;
}
.search-filter .input-group input{
	border: none;
}
.search-filter .input-group input, .search-filter .input-group button{
	height: 28px;
}
.search-filter .input-group input:hover, .search-filter .input-group button:hover, .search-filter .input-group button:active, .search-filter .input-group input:active{
	border: none;
	box-shadow: none;
	border: none;
	outline: none;
}
.search-filter .input-group input:focus, .search-filter .input-group button:focus{
	box-shadow: none;
	border: none;
	outline: none;
	color: #333;
	background: #fff;
}
.search-filter{
	text-align: center;
}
.search-filter form .input-group .input-group-btn > .btn{
	height: 30px;
	margin-top: -1px;
}
.search-filter form .input-group .input-group-btn > .btn .glyphicon-search:before{
	font-size: 14px;
}
.search-filter .woof{
	display: inline-block;
}
.search-filter .woof .woof_redraw_zone > div{
	display: none;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container input[type='search']{
	height: 30px;
    border: none;
    border-radius: 20px;
    padding: 0 15px !important;
    max-width: 360px;
    width: 300px !important;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container{
	display: block;
	margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container .easy-autocomplete-container{
	padding: 0 15px;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container .easy-autocomplete-container ul{
	padding: 0;
	margin: 0;
	text-align: left;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container .woof_text_search_go{
	margin-left: -35px;
	margin-top: 4px;
}
.search-filter .woof .woof_redraw_zone > .woof_text_search_container table tr td:first-child{
	width: 100% !important;
	max-width: 600px !important;
	min-width: 300px;
}
.woof_text_search_container{
	display: none;
}
.products-grid .item .item-inner .item-img{
	 -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
	z-index:5;
	-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
     transform:scale(1);
}
.products-grid .item:hover .item-inner .item-img{
	-webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
     transform:scale(1.15);
}
.woocommerce .category-products .products-grid{
	overflow: visible;
}
#yith-quick-view-modal.open .yith-wcqv-main{
	padding: 20px;
}
.col-right .textwidget{
	border-left: 1px solid #eeeeee;
}
.col-left .textwidget {
    border-right: 1px solid #eeeeee;
}
.sidebar .btn.btn-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
	border: none;
	outline: none;
	border-radius: 0;
}
.sidebar .btn.btn-facebook:hover{
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
	border: none;
	outline: none;
}
.sidebar .btn.btn-google{
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
	border: none;
	outline: none;
	border-radius: 0;
}
.sidebar .btn.btn-google:hover{
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
	border: none;
	outline: none;
}
.sidebar .btn:hover{
	border: none;
	outline: none;
}
.account-box
{
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 15px;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #6E329D;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-facebook, .social-icons .btn-facebook
{
    background-color: #3F639E;
    color: #fff;
    font-weight:bold;
}
.btn-google, .social-icons .btn-google
{
    background-color: #454545;
    color: #fff;
    font-weight:bold;
}
.sidebar label.checkbox
{
	padding-left: 20px;
    margin: 0;
    display: block;
    padding-bottom: 8px;
}
.fb-block{
	padding-right: 2px;
}
.gl-block{
	padding-left: 2px;
}
.woocommerce-page .widget_shopping_cart p.buttons{
	margin-right: 15px;
}
.woocommerce-page .widget_shopping_cart p.buttons a.button{
	width: 49%;
    padding: 5px 0 !important;
    float: left;
}
.woocommerce-page .widget_shopping_cart p.buttons a.button:first-child{
	margin-right: 2%;
}
.bio-food{
	position: absolute;
    bottom: 6px;
    right: 6px;
    width: 40px;
}
.create-account{
	color: #fff !important;
}
.create-account:hover{
	color: #333;
	background-color: #fff;
}
footer .widget ul li a{
	display: inline !important;
}
footer .widget ul li a:hover{
	color: #fff !important;
}
footer .social{
	display: none;
}
.circle {
  margin: 36px 0;
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #1d2087;
}

.circle::before,
.circle::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.circle,
.circle::before,
.circle::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.circle {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
  line-height: 50px;
  overflow: hidden;
  background-size: cover;
}

.circle:hover {
  color: #fff;
}
.circle::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.circle:hover::after {
  background: #fefefe;
  border-radius: 50%;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  opacity: 0.5;
}

.circle1 {
  opacity: 0.7;
}

.circle2 {
  opacity: 0.6;
}

.circle3 {
  opacity: 0.8;
}

.circle a {
  text-decoration: none;
  color: #1d2087;
}

.circle h2 {
  font-size: 60px;
  color: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
  padding-top: 10px;
}
.circle:hover h2 {
  padding-top: 36px;
}

.circle h2 small {
  color: #1d2087;
}

.circle p {
  font-size: 18px;
  line-height: 16px;
}
a.image-block-v1{
	display: block;
	background: #000;
}
div.image-block-v1 {
	cursor: default;
}
.bxslider .slick-slide{
	height: auto;
	min-height: 50px;
}
.content-newsletter.text-center{
	margin-bottom: 50px;
}
.tp-caption.LargeTitle {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    font-size: 80px;
    text-align: center;
    letter-spacing: -3px;
}
.tp-caption.Title {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin: auto;
}
.buy-btn {
    padding: 18px 35px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    background: #16191f;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border: 2px #0f1116 solid;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 0 0 0 #16191f;
}
.buy-btn:hover {
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
    -webkit-box-shadow: inset 0 -34px 0 0 #88be4c;
    box-shadow: inset 0 -60px 0 0 #88be4c;
    border-color: #74a73c;
}
.slick-slider .slick-list, #slider .slick-slide{
	cursor: -webkit-grab;
	cursor: grab;
	position: relative;
}
.woof_list li{
	position: relative;
}
.sidebar .woof_list li{
	position: relative;
    padding: 0 !important;
    margin-bottom: -2px !important;
}
.woof_childs_list_opener{
	position: absolute;
	top: 0;
	right: 0;
}
.button-quantity input{
	border-left: none;
    border-right: none;
    border-radius: 0;
    height: 32px;
}
.button-quantity .btn-right{
	border-left: none;
    border-radius: 0 3px 3px 0;
}
.button-quantity button.btn{
	padding: 0 !important;
    line-height: 32px;
    border: none;
	width: auto !important;
}
.button-quantity .btn-left{
	border-right: none;
    border-radius: 3px 0 0 3px;
}
.button-quantity{
	margin: 0 auto;
	visibility: hidden;
}
.products-grid li.item:hover .button-quantity{
	visibility: visible;
}
.button-quantity button, .button-quantity input{
	display: inline-block;
	float: left;
	width: 48px !important;
	text-align: center;
	border-color: #ddd;
	color: #333;
	background: #fff;
}
.button-quantity input{
	background: none;
    border: none !important;
    outline: none;
    box-shadow: none;
}
.button-quantity input:focus, .button-quantity input:active, .button-quantity button:focus, .button-quantity button:active{
	color: #333;
	background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.chosen-container-single .chosen-single{
	height: 32px;
	line-height: 28px;
}
.chosen-container-single .chosen-single div b{
	background-position: 0 6px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{
	background-position: -18px 6px;
}
body.woocommerce-page .quantity{
	width: 100% !important;
}
ul.slides.bxslider{
	padding: 0;
}
.woocommerce a.button.added:after{
	margin-top: -4px;
    display: inline-block;
}
.slick-slide img{
	display: block;
    width: 100%;
    height: auto;
}
#my-lists{padding: 0;}
#my-lists li{padding: 0; margin: 0;}
#my-lists li a{padding: 10px 30px; display: block;}
#my-lists li a:hover{background: #efefef;}
#my-lists li a.active{background: #ddd;}

.buying-list-add{
	clear: both;
	padding: 20px 0;
}
.buying-list-add select, .buying-list-add button{
	display: inline-block;
}
.buying-list-add select{
	padding: 7.5px 10px;
    margin-right: 10px;
}
.sidebar .woof .woof_container_nettoweight input[type=checkbox], .sidebar .woof .woof_container_volume input[type=checkbox]{
	display: inline-block;
    float: left;
    margin-top: 7px;
    margin-left: 22px;
}
.sidebar .woof .woof_container_volume label:after{
	content: " L"
}
.sidebar .woof .woof_container_nettoweight label:after{
	content: " kg"
}
.sidebar .woof .woof_container_nettoweight label .woof_checkbox_count, .sidebar .woof .woof_container_volume label .woof_checkbox_count{
	display: none;
}
.sidebar .woof .woof_container_nettoweight label, .sidebar .woof .woof_container_volume label{
	font-weight: bold;
}
.additional-ajax-search .woof .woof_container, .additional-ajax-search .woof .woof_submit_search_form_container {
	display: none;
}
.additional-ajax-search .woof .woof_container.woof_container_pa_herkunft, .additional-ajax-search .woof .woof_container.woof_container_hersteller{
	display: inline-block;
	width: 240px;
}
.additional-ajax-search .woof_redraw_zone .woof_container{
	text-align: left;
}
.additional-ajax-search .woof_redraw_zone{
	text-align: center;
}
.slick-slider{
	padding: 0;
}
.testimonials-section .avatar img{
	width: 120px;
	border-radius: 120px;
	min-height: 120px;
	height: 120px;
} 
.woocommerce .page{
	padding-top: 60px;
}
.main-nav{display: flex;}
.main-nav a, .main-nav a:active, .main-nav a:focus{ 
	color: #fff;
    display: inline-block;
    padding: 10px 7px 2px;
    text-align: center;
    text-transform: uppercase;
    flex: 1;
    line-height: 28px;
}
.main-nav a:hover{ color: #fff; background: #0cb55f;}
.main-nav a.menu-active{ color: #fff; background: #0cb55f;}
.main-nav a.active{ color: #fff; background: #0cb55f;}
.main-nav a span{display: block;font-size: 20px;}
.navbar-fixed-top{
		-moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
	}
/*
.woocommerce .widget_shopping_cart_content ul.product_list_widget li:last-child{
	margin: 0 !Important;
    padding: 10px 20px 0 !Important;
}
*/
body .cbp-spmenu-right{
	width: 300px;
	top: 59px;
	background: #fff;
}
body .cbp-spmenu-right ul.product_list_widget li a{
	color: #333;
	margin: 0;
	border-bottom: none;
	padding: 0;
}
.multilevelpushmenu_wrapper li.protein{
	display: none;
}
.sporternaehrung .multilevelpushmenu_wrapper li{
	display: none;
}
.sporternaehrung .multilevelpushmenu_wrapper li.sportcat{
	display: block;
}
body .cbp-spmenu-right, .block.woocommerce.widget_shopping_cart{
	overflow: hidden;
}
body .cbp-spmenu-vertical{
	height: calc(100% - 60px);
}
body.woocommerce-page .widget_shopping_cart p.buttons{
	margin-bottom: 0;
}
body .block.woocommerce.widget_shopping_cart{
	padding-bottom: 0;
	border: none;
	margin: 0;
}
body.woocommerce-cart .wcppec-checkout-buttons{
	display: none;
}
body .before-img small{
	margin-left: 8px;
}
body .before-img{
	display: inline-block;
    float: left;
    line-height: 48px;
    margin: 0 10px;
}
.main-nav a.jPushMenuBtn:before{
	font-family: 'Glyphicons Halflings';
    content: "\e079";
    position: absolute;
    margin-left: -30px;
    font-size: 10px;
}
.main-nav a.jPushMenuBtn.menu-active:before{
	content: "\e080";
    margin-left: 20px;
}
.woocommerce ul.product_list_widget .mCSB_container{
	margin-right: 15px;
}
.main-nav a.search-button{ display: none; }
.add-to-box{margin-bottom: 30px;}
#sportsonly{display: none;}
.sporternaehrung #sportsonly{display: block;}
.sporternaehrung.woocommerce-page .woocommerce-info{display: none;}
body .woocommerce div.product.pa_origin-fresspackli form.cart div.quantity{display: none !important;}
#header-row{ height: 60px; }
#top-slider .slick-slide{margin-right: 0 !important;}
body.woocommerce.fresspackli .main.container .sidebar.col-left .block#text-5, body.woocommerce.fresspackli .main.container .sidebar.col-left .block#text-8, body.woocommerce.fresspackli .main.container .sidebar.col-left .block#text-9{ display: none;}
body.woocommerce-checkout .woocommerce:after{display: table; content: " "; clear: both;}
body.woocommerce-order-received .woocommerce h2{font-size: 25px; text-decoration: underline;}
body.woocommerce-order-received .woocommerce address{border-bottom: none;}
body.woocommerce-order-received .woocommerce .col2-set.addresses{    padding: 0 15px;border: 1px solid #e6e6e6;}
body.woocommerce-order-received .woocommerce table.shop_table, .woocommerce-page table.shop_table{border: 1px solid rgba(0,0,0,.1);}
body.woocommerce-order-received .woocommerce td.product-name dl.variation{width: 100%; max-width: 400px;}
body.fresspackli .pimg .discount{display: none !important;}
body footer{width: 100%;}
.woof .woof_container h4{ display: inline-block; }
.woof .woof_container h4 a.woof_front_toggle{ position: absolute; right: 16px; margin-top: -16px; }
.woocommerce .products-grid .btn-cart{border-radius: 15px !important; overflow: hidden;}
.woof .woof_container h4{ cursor: pointer; }
.woof .woof_container h4:hover{ color: #008c45; }
.woof_container_inner_nettogewicht label.woof_checkbox_label:after{ content: "kg"; }
.woof_container_inner_volumen label.woof_checkbox_label:after{ content: " L"; }
.woof label .woof_checkbox_count{ display: none; }
.home #slider{ top: -75px; margin-bottom: -75px; }
.woocommerce-MyAccount-navigation{ height: auto !important; }
.topnav-dd{
    width: 75px;
    height: 75px;
    display: block;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 71px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
	display: none;
}
.topnav-dd:hover, .topnav-dd:active{
	color: #fff;
}
.wc_payment_methods small{ text-transform: none; }
.home .latest-blog .row{ padding: 0 15px; margin: 0; }
#header .dropdown-menu>li>a{ font-size: 18px; }
.woof_list_checkbox li div { margin-top: -3px; }
.woof_section_scrolled .mCustomScrollBox{ height: 200px; }
small{ text-transform: none !important; }
.woocommerce-password-hint, .woocommerce-password-strength.short{ display: none !important; }
div.woof_info_popup{ left: 50% !important; margin-left: -50px !important; }
#yith-quick-view-content .price-box del, .pa_origin-fresspackli .price-box del{ display: none; }
.woocommerce-thankyou-order-received{ font-size: 30px; text-align: center; margin: 30px 0 50px; }
body a.button-filter, .woof_container_produktkategorien{ display: none; }
body .reset-left{ display: block !important; }
	body .reset-left-all{ display: none !important; }
.tooltip.top{ 
	position: absolute;
    width: 100%;
    right: -18px;
    left: auto !important;
    top: auto !important;
    bottom: 20px;
}
.tooltip.top .tooltip-arrow{
	left: auto !important;
	right: 35px;
}
#main-pills{
	display: none;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse
{
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: #eeee6d;
}
.product-type-wcpb .onsale{ display: none; }
.hidden-other{display: none;}
.products-grid .item{ list-style-type: none; }
body .logo img.hidden-other{
	width: 60px;
    max-width: none;
    padding: 0;
    margin: 15px;
}
#yith-quick-view-content .product-image{
	padding: 30px;
    float: right;
}
.additional-images{
	width: 45%;
    float: right;
}
.additional-images .gallery{
	margin: 20px 0;
}
.additional-images .gallery a{
	width: 120px;
    display: block;
    padding: 2px;
    border: 1px solid #efefef;
	float: left;
    margin-right: 10px;
}
.additional-images .action-buttons{
	height: auto;
}
.additional-images .action-buttons a{
	font-size: 14px;
    line-height: 34px;
}
body .language-chooser {
	margin-bottom: 0;
}
body .language-chooser li{
	list-style-type: none;
}
body .language-chooser li a, body .language-chooser li a:active, body .language-chooser li a:focus, body .language-chooser li a:hover{
	padding: 5px 10px;
	line-height: inherit;
}
body .tab-pane#video iframe{
	max-width: 100%;
}
@media only screen and (min-width: 768px) {
	#header-row{ height: 75px;}
}
@media only screen and (max-width: 992px) {
	#main-menu{ display: none; }
	body .tp-caption.LargeTitle { font-size: 50px; }
	.topnav-dd{ display: block; }
}
@media only screen and (max-width: 767px) {
	#yith-quick-view-modal.open .yith-wcqv-wrapper{
		top: 0 !important;
		margin: 0 !important;
		left: 0 !important;
		width: 98% !important;
		height: 98% !important;
		max-height: 98% !important;
		max-width: 98% !important;
	}
	.woocommerce-thankyou-order-received{ font-size: 20px; }
	#yith-quick-view-modal.open .yith-wcqv-wrapper .yith-wcqv-main{
		height: 100%;
		max-height: 100%;
		width: 100%;
	}
	.topnav-dd{ width: 60px; height: 60px; line-height: 57px; }
	.main-nav a.search-button{ display: inline-block; }
	.origin-cats{ text-align: center; }
	body.woocommerce .quick-tags a{ float: none; display: inline-block;padding: 11px 5px;width: auto;}
	.additional-ajax-search .woof .woof_container.woof_container_pa_herkunft, .additional-ajax-search .woof .woof_container.woof_container_hersteller{ width: 49%; }
	.additional-ajax-search .woof .woof_container.woof_container_pa_herkunft .chosen-container, .additional-ajax-search .woof .woof_container.woof_container_hersteller .chosen-container, .additional-ajax-search .woof .woof_container.woof_container_pa_herkunft select, .additional-ajax-search .woof .woof_container.woof_container_hersteller select{ width: 100% !important; }
	.shop-icon{
		width: 60px;
		height: 60px;
		background-size: 50px auto;
	}
	body .tp-caption.LargeTitle { font-size: 30px; }
	body .tp-caption.Title { font-size: 16px; }
	#slider{ margin-top: 0px; }
	.div-middle{padding: 0;}
	.navbar-fixed-top{max-width: 100%;}
	body .header-container{max-width: 100%;}
	.home #slider { top: -60px; margin-bottom: -60px;}
	.slick-slide, .home #slider .slick-slide img { min-height: 350px; }
	body .header-container { background: #008c45 !important; }
	body.home .header-container { background: rgba(0,0,0,0.2) !important; }
	body.page-id-4177 textarea.form-control{ width: 100% !important; }
	.content-7{ background-size: 1500px auto; }
	.image-block-v1 img{ height: auto; }
	.image-block-v1.big h4{ font-size: 20px; }
	h2, .h2 { font-size: 40px; }
	body.filter-active .origin-cats, body.filter-active .col-main.col-sm-9, body.filter-active #slide-panel, body.filter-active #mobile-minicart, 
	body.filter-active footer, body .col-left.sidebar, body .col-left.sidebar #text-6, body .col-left.sidebar #text-8, body.filter-active.woocommerce .main.container .sidebar .block .block-title
	{ display: none; }
	body.filter-active .col-left.sidebar, body.filter-active #main-pills, .woof_container_produktkategorien, body a.button-filter{ display: block; }
	body.filter-active a.button-filter{ background: #0cb55f !important; }
	body .reset-left{ display: none !important; }
	body .reset-left-all{ display: block !important; }
	body .woof_container_product_cat{ display: block !important; }
	body .additional-images{ width: 100%; }
	
}
@media only screen and (max-width: 480px) {
	.shop-icon:focus, .shop-icon:active, .shop-icon{
		border: none;
		background-size: 55px;
	}
	.mobile-toggle{display: none !important;}
	.content-5 .col-sm-7, .content-5 .col-sm-5{ width: 100%; }
	.topnav-dd{ border: none; border-left: 1px solid #fff; }
	.content-7{ background-size: 1200px auto; min-height: 650px; }
}
@media only screen and (max-width: 440px) {
	body.woocommerce .quick-tags .origin-cats{ padding: 0; }	
	body.woocommerce .quick-tags a{ padding: 11px 2px; width: 25%; font-size: 14px; float: left; }	
	body .header-container .header-right-col{top: 0;right: 0;}
	body .btn-cart span .hide-small{display: none;}
	body .btn-cart span .wg{display: block;}
	body .btn-cart span{line-height: 17px;}
	body .btn-cart span small{display: block; float: left; margin-top: 6px; margin-right: 7px;}
	.btn-cart:before{ padding: 19px 15px !important; }
	body .language-chooser{ display: none; }
}
.container{max-width: 100%;}
#yith-quick-view-modal.open .yith-wcqv-wrapper{overflow: hidden;}
.item-content div.action{ min-height: 78px !important; }
#woocommerce_recently_viewed_products-2 { position: relative; z-index: 100; }
body .info-news{
	height: 42px;
    width: 100%;
    background: #f9f9f9;
	color: #333;
	font-size: 14px;
	line-height: 42px;
}